<div class="lh3-chat-widget" [style.left]="iconPosition ? 'auto' : null" [style.right]="iconPosition || null">
  <header aria-labelled-by="lh3-chat-button" class="lh3-chat-header">
    @if (!showChat) {
      <button id="lh3-chat-button" class="lh3-chat-button" (click)="chatOnline ? toggleChatTab($event) : openOfflineLink($event)" (mouseover)="mouseOverChatTab()" (mouseout)="mouseOutChatTab()" (touchend)="chatOnline ? toggleChatTab($event) : openOfflineLink($event)" [attr.aria-label]="chatOnline ? 'Open chat' : 'Open help link'" [ngStyle]="{'background-color': tabColor(), 'color': textColor(), 'border-color': tabColor()}">
        <span class="lh3-chat-label">{{ chatOnline ? 'Click to chat' : 'Contact us' }}</span>
        <span class="lh3-tab-icon" aria-hidden="true"></span>
      </button>
    }
  </header>
  <div class="lh3-chat-frame-wrap" cdkDrag [hidden]="!showChat" [style.border-color]="tabColor()">
    <div class="lh3-close-chat-bar" [ngStyle]="{'background-color': tabColor(), 'color': textColor()}" cdkDragHandle>
      <button type="button" class="lh3-close-chat" [ngStyle]="{'background-color': tabColor(), 'color': textColor()}" (click)="toggleChatTab($event)" (touchend)="toggleChatTab($event)" aria-label="Close chat">&times;</button>
    </div>
    <div class="needs-js"></div>
  </div>
</div>

<div class="ocls-proactive-chat-widget">
  <header aria-labelled-by="lh3-proactive-chat-button" class="lh3-proactive-chat-header"></header>
  <div class="ocls-proactive-chat-frame-wrap" cdkDrag [hidden]="!showProactiveChat">
    <div class="lh3-close-chat-bar" cdkDragHandle>
      <p>Online Research Help</p>
      <button type="button" class="lh3-close-chat" (click)="toggleProactiveChatTab($event)" (touchend)="toggleProactiveChatTab($event)" aria-label="Close chat">&times;</button>
    </div>
    <div class="ocls-proactive-chat-content">
      <p>Need research help? Chat with askON live.</p>
      <div class="ocls-proactive-buttons">
        <button (click)="loadProactiveChat()">Click to chat</button>
        <button (click)="toggleProactiveChatTab($event)">No thanks</button>
      </div>
  </div>
  </div>
</div>